:root {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #222222;
    color: #fafafa;
  }
}

.limit {
  margin: auto;
  max-width: 60rem;
  font-size: 1.25em;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #cc0000;
}

header img {
  display: inline;
  width: 1em;
  height: 1em;
}

header > p {
  text-align: center;
}

.answers {
  border-radius: 0.5em;
  padding: 1em;
  background: linear-gradient(
    90deg,
    rgba(255, 173, 0, 1) 0%,
    rgba(0, 174, 255, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  .answers {
    background: linear-gradient(
      90deg,
      rgba(150, 25, 0, 1) 0%,
      rgba(0, 25, 150, 1) 100%
    );
  }
}

.answers > ol {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
}

.answers > .controls {
  box-sizing: border-box;
  margin: 0 7%;
  width: 85%;
}

.answers > ol > li {
  min-width: min-content;
  flex-basis: 15%;
}

datalist {
  display: none;
}

.answers > ol > li {
  text-align: center;
}

.progress {
  margin-top: 1em;
  display: flex;
}

.progress > label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result > .simple {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result > .simple > .emoji {
  font-size: clamp(2em, 10vmin, 5em);
  margin-right: 0.25em;
}

.result > p {
  text-align: center;
}

button {
  font-size: 1.5em;
  align-self: center;
  border: 0.1em solid #000000;
  background-color: #6c8bf0;
}

.result > .full {
  list-style: none;
  padding: 0;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  justify-content: space-around;
}

.result > .full > li {
  padding: 1em;
  border-radius: 1em;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result > .full > li > h4 {
  font-size: 1.25em;
  margin: 0.5em;
}

.result {
  color: #000000;
}

.result .primary {
  color: #cc0000;
}

.result .gamer {
  background-color: #6c8bf0;
}
.result .anime {
  background-color: #f0a56c;
}
.result .topics {
  background-color: #f0e76c;
}
.result .debate {
  background-color: #e16cf0;
}

.finish {
  display: block;
  margin: 1em auto;
}

#chart {
  aspect-ratio: 1;
  width: 100%;
  max-width: 30em;
  max-height: 30em;
  margin: 0 auto;
}

.fill {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template:
    "header" auto
    "results" minmax(0, 1fr)
    / minmax(0, 1fr);
  justify-content: center;
  align-content: center;
  font-size: clamp(0.5em, 2.5vmin, 1em);
  height: 100vh;
  width: 100vw;
}

.fill header {
  font-size: 1.25em;
  max-width: 60rem;
  margin: 0 auto;
}

#jads-results {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
}

#jads-results > div {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 0.5em;
  aspect-ratio: 1 / 1;
  min-width: 34em;
  min-height: 34em;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  left: calc((100vw - 100%) / 2);

  background-image: linear-gradient(
      90deg,
      rgba(79, 221, 61, 0.5) 0%,
      rgba(79, 221, 61, 0.5) 25%,
      rgba(221, 61, 61, 0.5) 25%,
      rgba(221, 61, 61, 0.5) 50%,
      rgba(61, 74, 221, 0.5) 50%,
      rgba(61, 74, 221, 0.5) 75%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(
      0deg,
      rgba(79, 221, 61, 0.5) 0%,
      rgba(79, 221, 61, 0.5) 25%,
      rgba(221, 61, 61, 0.5) 25%,
      rgba(221, 61, 61, 0.5) 50%,
      rgba(61, 74, 221, 0.5) 50%,
      rgba(61, 74, 221, 0.5) 75%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 0.5) 100%
    );
}

#jads-results h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

#jads-results .result {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#jads-results .result ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  display: grid;
  gap: 0.1em;
  grid-template-columns: repeat(auto-fit, clamp(2em, 4.5vmin, 5em));
  grid-template-rows: repeat(auto-fit, clamp(2em, 4.5vmin, 5em));
  grid-auto-rows: clamp(2em, 4.5vmin, 5em);
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

#jads-results .result ul li {
  display: contents;
}

#jads-results .result ul li img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
